{namespace yag=Tx_Yag_ViewHelpers}
<f:if condition="{album.thumb.width} > {album.thumb.height}">
    <div class="tx-yag-theme-simpleblog-thumb tx-yag-theme-simpleblog-thumb-landscape">
</f:if>
<f:if condition="{album.thumb.width} < {album.thumb.height}">
    <div class="tx-yag-theme-simpleblog-thumb tx-yag-theme-simpleblog-thumb-portrait">
</f:if>
<f:if condition="{album.thumb.width} == {album.thumb.height}">
    <div class="tx-yag-theme-simpleblog-thumb tx-yag-theme-simpleblog-thumb-square">
</f:if>
    <yag:link.album album="{album}">
        <yag:image item="{album.thumb}" resolutionName="thumb" />
        <div class="tx-yag-theme-jdavbw-albumcaption">{album.name} ({album.itemCount})</div>
    </yag:link.album>
</div>
