{namespace yag=Tx_Yag_ViewHelpers}

<div class="tx-yag-theme-jdavbw-thumb {f:if(condition: image.isLandscape, then:'tx-yag-theme-jdavbw-thumb-landscape', else:'tx-yag-theme-jdavbw-thumb-portrait')}">
    <a href="{yag:imageLink(item: image, resolutionName: 'lightbox')}" rel="shadowbox[images_{image.album.uid}]" title="{image.title}"> 
        <yag:image item="{image}" resolutionName="thumb" alt="{image.title}"/>
    </a>
    <ul>
        <li class="tx-yag-theme-jdavbw-thumb-title">{image.title}</li>
    </ul>
</div>